body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #003366;
    text-align: center;
}

p {
    font-size: 18px;
    color: #555555;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    width: 1000px;
}

a {
    color: #990000;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
